extends ./layout

block headerBlock
  script(type="text/javascript", src='/js/socket.io.v0.9.10.js')
  script(type="text/javascript", src='/js/mediator.js')
  
block mainContentBlock
  input#server_playerName(type="hidden", value="#{playerName}")
  input#server_gameKey(type="hidden", value="#{gameKey}")
  input#server_pickLess(type="hidden", value="#{pickLess}")
  input#server_socketKey(type="hidden", value="#{socketKey}")
  input#server_playerAmount(type="hidden", value="#{playerAmount}")
  
  a#copyJoinLinkInput
  .row
    .span2
      .hand.small
      p Player name
    .span2
      .hand.small
      p Player name

  br
  br
  .row
    .span2
      .hand.small
      p Player name
    .span2
      .hand.small
      p Player name

  #btnSelectHandUp.span3.clickable.select-hand
    .hand.up
  #btnSelectHandDown.span3.clickable.select-hand
    .hand.down
      
  script(type="text/javascript")
    require([ 'game' ]);