extends ./layout

block mainContentBlock
  input#server_playerName(type="hidden", value="#{playerName}")
  input#server_gameKey(type="hidden", value="#{gameKey}")
  input#server_pickLess(type="hidden", value="#{pickLess}")
  input#server_socketKey(type="hidden", value="#{socketKey}")
  input#server_playerAmount(type="hidden", value="#{playerAmount}")
  a#linkGoToBoard(href="#board")
  
  table.table.table-striped
    tbody
      tr
        td Liên kết mời vào phòng
        td
          a#copyJoinLinkInput(onclick="return false;")
      tr
        td Cách chọn
        td
          span#pickLessLabel.hide Nhiều ra ít bị 
          span#pickMoreLabel.hide Ít ra nhiều bị
      tr
        td Số lượng người 
        td= playerAmount
      tr
        td Tên bạn chọn
        td= playerName
          
  #handSelectSection.hide
    #btnSelectHandUp.span3.clickable.select-hand.hand.up
    #btnSelectHandDown.span3.clickable.select-hand.hand.down
    #handSelectDescPanel(style="float: left;padding-left: 25px;padding-top:20px;")
      .well.span2  
        i.icon-hand-up 
        | &nbsp; Hãy chọn tay
      .clearfix
      img#handDescImage(src="./images/select-hand-desc.gif")
    div(style="float: left;padding-left: 25px;")
      #chatMessageContainer.chat-container
      .chat-action
        input#chatInput.input-xlarge(type="text",placeholder="Chat với phòng")
  .clearfix
  p &nbsp;
  h1#progressHeader Diễn biến trò chơi
  h3#finishingLabel.well.text-info.hide Đã tìm ra người bị
  h3#drawFinishingLabel.well.text-error.hide Không có ai bị, chơi lại thôi
  a(name="board")
  #playerRow1.row
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
  p &nbsp;
  p &nbsp;
  #playerRow2.row.hide
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName
    .span2.hide.hand-unset.player-row
      .hand.small
      br
      span.playerName

  
  script(type="text/javascript")
    require([ 'game' ]);