extends ./layout
    
block mainContentBlock
  h3 In game
  
  h6= playerName
  h6= gameKey
  h6= pickLess
  h6= socketKey
  h6= playerAmount

  script(type="text/javascript")
    require([ 'game' ]);