extends ./layout

block headerBlock
  script(type="text/javascript", src='/js/mediator.js')
  
block mainContentBlock
  input#server_playerName(type="hidden", value="#{playerName}")
  input#server_gameKey(type="hidden", value="#{gameKey}")
  input#server_pickLess(type="hidden", value="#{pickLess}")
  input#server_socketKey(type="hidden", value="#{socketKey}")
  input#server_playerAmount(type="hidden", value="#{playerAmount}")
  
  a#copyJoinLinkInput
  #playerRow1.row
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
      

  br
  br
  #playerRow2.row.hide
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName
    .span2.hide
      .hand.small
      span.playerName

  p
  p
  #handSelectSection.hide
    #btnSelectHandUp.span3.clickable.select-hand
      .hand.up
    #btnSelectHandDown.span3.clickable.select-hand
      .hand.down
      
  script(type="text/javascript")
    require([ 'game' ]);